/* AboutMe.css */


/* Center the image in the middle of the page */

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%; /* Adjusted to 100% */
  margin-bottom: 200px;
    background-color: #fce588;

}

.section__pic-container {
  margin-bottom: 2rem; /* Added margin */
  display: flex;
  height: 400px;
  width: 400px;
  margin:  0;
}

.aboutMepic {
  display: flex;
  height: 400px;
  width: 400px;
    margin-bottom: 200px;

  margin: 0;

}

.about-details-container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-wrap: wrap;
}

.details-container {
  text-align: center; /* Center text horizontally */
  margin: 0 20px; /* Adjust margin as needed */
}

.text-container {
  width: 50%; /* Occupy full width */
  text-align: center; /* Center align text */
  margin-bottom: 2rem; /* Added margin */
}

.education {
  overflow-clip-margin: content-box;
  overflow: clip;
  height: 4vh;
}

.experience {
  overflow-clip-margin: content-box;
  overflow: clip;
  height: 4vh;
}

/* Montserrat Font */
.montserrat-myuniqueclass {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Replace with your desired font weight */
  font-style: normal;
}

/* Roboto Font - Regular */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Roboto Font - Medium */
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Roboto Font - Bold */
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
