/* Contact.css */
body{
      background-color: #fce588;

}
.contact--section {
  padding: 50px;
  margin-top: 20px;

}

.sub--title {
  font-size: 20px;
  color: #333;
  margin: 0;
}

h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 30px;
}

.contact--form--container {
  background-color: #edd75a;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  margin-bottom: 200px;
  width: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
}

.contact--label {
  width: calc(50% - 10px); /* Adjust width as needed */
  margin-bottom: 20px;
}

.contact--input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.contact--input:focus {
  outline: none;
  border-color: #00bfff;
}

#choose-topic {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

#choose-topic:focus {
  outline: none;
  border-color: #00bfff;
}

.checkbox--label {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox--label input[type="checkbox"] {
  margin-right: 10px;
}

.contact--form--btn {
  background-color: #00bfff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact--form--btn:hover {
  background-color: #009acd;
}
