/*Footer.css*/

body {
  background: #fce588;
  font-family: "Montserrat", sans-serif; /* Set default font family */
  height: 90vh; /* Keep height of container */
  width: 100%; /* Keep width of container */
}

.app-footer {
  width: 100%;
  height: 39vh;
  background-color: rgba(27, 10, 1, 0.9);
  color: #e8a113;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  color: #d0b57f;
}
.app-footer .content p {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70vw;
  margin-top: auto;
  color: #d0b57f;
}
.app-footer ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.app-footer li {
  margin-right: 20px;
}
.app-footer a {
  color: #e8a113;
  text-decoration: none;
}
.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.social-icons a {
  color: #fffac8;
  margin: 0 10px;
}
.social-icons i {
  font-size: 30px;
}

.WorkExperienceSection {
  border-radius: 30px;
  color: #b7106c;
  width: 100%;
  height: 100vh;
  bottom: 200px;
}

.WorkExperienceSection h1 {
  color: #163060;
}

.internship-rectangle {
  background-color: #ba9c26;
  padding: 10px;
  border-radius: 30px;
  flex-grow: 1;
  max-height: 350px;
  max-width: 650px;
}

.internship-details {
  display: flex;
  justify-content: space-between;
}

.internship-label-text {
  font-weight: bold;
}

.internship-date {
  color: #030000;
}

.curved-button {
  border-radius: 20px;
  color: #030301;
  background-color: #244686;
}

.footerContainer {
  background: #fce588;
  color: #ffffff;
  padding: 40px 20px;
  height: 100%;
}

footer h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer--items ul li:hover {
  color: #b48c3c;
}

@media only screen and (max-width: 1800px) {
  /* Adjustments for screens up to 1800px in width */
  .app-footer .content p {
    max-width: 60vw;
  }
}

@media only screen and (max-width: 1200px) {
  /* Adjustments for screens up to 1200px in width */
  .app-footer .content p {
    max-width: 80vw;
  }
}

@media only screen and (max-width: 766px) {
  /* Adjustments for screens up to 766px in width */
  .app-footer .content p {
    max-width: 90vw;
  }
}
