/* NavBar*/

body {
  background: #fce588;
  font-family: "Montserrat", sans-serif; /* Set default font family */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100vh; /* Keep height of container */
  width: 100%; /* Keep width of container */
}
/* Montserrat Font */
.montserrat-myuniqueclass {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Replace with your desired font weight */
  font-style: normal;
}

/* Roboto Font - Regular */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Roboto Font - Medium */
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Roboto Font - Bold */
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.custom-navbar {
  background-color: #100d16 !important;
  
}

.custom-navbar .navbar-brand {
  color: #ffffff !important;
  font-size: 1.5rem !important;
}

.nav-link {
  color: #ffffff !important;
  font-size: 1.5rem !important;
  margin-left: 20px;
  cursor: pointer;
}

.nav-link:hover {
  color: #e74c5a !important;
}


@media only screen and (max-width: 1800px) {
  /* Adjustments for screens up to 1800px in width */
  .nav-link {
    font-size: 1.8rem !important;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 1200px) {
  /* Adjustments for screens up to 1200px in width */
  .nav-link {
    font-size: 1.5rem !important;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 766px) {
  /* Adjustments for screens up to 766px in width */
  .nav-link {
    font-size: 1.2rem !important;
    margin-left: 5px;
  }
}