/* SkillsSection.css */

.skillsContainer {
  background-color: #fce588;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 100px;
  margin-bottom: 200px;
  border-radius: 10px;
}

.skillsContainer h1 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #c0a060;
  font-size: 50px;
  max-width: 1000px;
  align-items: center;
    position: relative;

    margin-left: 200px;
}

.skill {
  flex: 1 0 200px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #542002ab;
  text-align: center;
}

.skill img {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
}

.skill h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.skill ul {
  list-style: none;
  padding: 0;
}

.skill ul li {
  margin-bottom: 8px;
  font-size: 20px;
}

.sectionTitle {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 50px;
  color: #000000;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  body {
    padding: 0;
    margin: 0;
  }
  .skillsContainer {
    width: 100%; /* Adjust width for smaller screens */
    height: min-content;
    padding: 80px 20px; /* Adjust padding */
    margin-top: 100px; /* Adjust margin-top */
right:13%;

  }

  .skills {
    font-size: 30px; /* Decrease font size for smaller screens */
     position: relative;
    margin: 0;
    left: 0px;
  }

  .skill {
    flex: 1 0 100%; /* Make skills full width on smaller screens */
    margin: 10px 0; /* Adjust margin */
    padding: 5px; /* Adjust padding */
  }

  .skill img {
    width: 60px; /* Decrease image size for smaller screens */
    height: 60px;
  }

  .skill h2 {
    font-size: 24px; /* Decrease font size for smaller screens */
  }

  .skill ul li {
    font-size: 16px; /* Decrease font size for smaller screens */
  }
}
