/* styles.css*/


/* styles.css */

.FullpageSection {
  height: 2000vh; /* Adjust the height of each section as needed */
}

.ProjectsSection {
  height: 6000px;
}

.carousel-indicators {
  position: fixed;
  top: 50%;
  right: 20px; /* Adjust this value as needed */
  transform: translateY(-50%);
}

.carousel-indicators button {
  background-color: transparent;
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 70%;
  margin: 5px 0;
}

.carousel-indicators .active {
  background-color: #000; /* Adjust this color as needed */
}

body {
  background-color: #FCE588;

  font-family: "Montserrat", sans-serif; /* Set default font family */
}